In [ ]:
import pandas as pd
import numpy as np
import re
import bs4

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/My Drive/IBM_sentiment_analysis/Data/full.csv')
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(15522466, 6)

   2020-02-01  ...  {'country_code': 'in', 'state': 'Tamil Nadu', 'city': 'Chennai'}
0  2020-02-01  ...                             {'country_code': 'in'}
1  2020-02-01  ...                             {'country_code': 'in'}
2  2020-02-01  ...                             {'country_code': 'in'}
3  2020-02-01  ...                             {'country_code': 'in'}
4  2020-02-01  ...                             {'country_code': 'in'}

[5 rows x 6 columns]

In [ ]:
row=list(df.columns)
print(row)

['2020-02-01', '1223435555595153409', "@WHO @scribesoldier The Boeing 747 Jumbo aircraft carrying 324 people, mostly students, who were stranded in China's #coronavirus hit Wuhan, has landed in Delhi.\n#CoronavirusOutbreak \nhttps://t.co/gBZvYQG5pP", "['coronavirus', 'CoronavirusOutbreak']", '0', " {'country_code': 'in', 'state': 'Tamil Nadu', 'city': 'Chennai'}"]

In [ ]:
df.loc[len(df)]=row
print(df.shape)
df.tail()

(15522467, 6)

          2020-02-01  ...  {'country_code': 'in', 'state': 'Tamil Nadu', 'city': 'Chennai'}
15522462  2020-05-01  ...           {'country_code': 'in', 'state': 'Delhi'}
15522463  2020-05-01  ...           {'country_code': 'in', 'state': 'Bihar'}
15522464  2020-05-01  ...                             {'country_code': 'in'}
15522465  2020-05-01  ...           {'country_code': 'in', 'state': 'Delhi'}
15522466  2020-02-01  ...   {'country_code': 'in', 'state': 'Tamil Nadu',...

[5 rows x 6 columns]

In [ ]:
df.columns=['date','id','text','hashtags','retweet_count','location']
df.head()

         date                   id  ... retweet_count                 location
0  2020-02-01  1223435559688790018  ...             8   {'country_code': 'in'}
1  2020-02-01  1223435561932857345  ...            14   {'country_code': 'in'}
2  2020-02-01  1223435576017162241  ...           119   {'country_code': 'in'}
3  2020-02-01  1223435576113631232  ...          3628   {'country_code': 'in'}
4  2020-02-01  1223435576570826755  ...             4   {'country_code': 'in'}

[5 rows x 6 columns]

In [ ]:
df1=df.drop_duplicates(subset=['text'])

In [ ]:
df2=df1.dropna(subset=['text'])

In [ ]:
df2.isnull().sum()

date              0
id                0
text              0
hashtags         76
retweet_count    94
location         94
dtype: int64

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
def clean_tweet(tweet):
  tweet=bs4.BeautifulSoup(tweet,'lxml').get_text()

  #removing mentions
  tweet=re.sub(r'@[A-Za-z0-9]+',' ',tweet)

  #removing URLs
  tweet=re.sub(r'https?://[A-Za-z0-9./]+',' ',tweet)

  #removing characters other than english alphabets 
  tweet=re.sub(r"[^a-zA-Z?.!']",' ',tweet)

  #removing extra white spaces
  tweet=re.sub(r" +"," ",tweet)

  #removing leading and trailing white spaces
  tweet=tweet.strip()

  #converting text to lowercase
  tweet=tweet.lower()

  #getting set of stopwords in English
  stop_words = set(stopwords.words('english'))

  #Tokenizing Tweer
  word_tokens = word_tokenize(tweet)

  #removing stopwords
  filtered_tweet = [w for w in word_tokens if not w in stop_words]
  return ' '.join(filtered_tweet)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
data_clean=[clean_tweet(tweet) for tweet in df2.text]

In [ ]:
data_clean[:5]

['indians evacuated coronavirus hit wuhan screened delhi airport team doctors . suspected infection shifted isolation ward base hospital delhi cantonment bhdc . chinavirus',
 'coronavirus outbreak air india special flight carrying indians wuhan lands delhi',
 'everytime abuse deficient services think yes times crises air india rises occasion ... .. gulf war yemen wuhan ai deliver mattered !',
 "air india special flight evacuate indian citizens china 's wuhan today . wuhan epicentre coronavirus . salute pilots crew members doctors paramedical staff board carrying operation . pray indian citizens .",
 "rahul sir coronavirus developed rss laboratory nagpur formula invented godse savarkar back 's . sent china instructions modi shah . right way tweet sir"]

In [ ]:
dff=pd.DataFrame()

In [ ]:
dff['id']=df2['id']

In [ ]:
dff.shape

(4268021, 1)

In [ ]:
df2.shape

(4268021, 6)

In [ ]:
dff['cleaned']=data_clean

In [ ]:
dff.head()

                    id                                            cleaned
0  1223435559688790018  indians evacuated coronavirus hit wuhan screen...
1  1223435561932857345  coronavirus outbreak air india special flight ...
2  1223435576017162241  everytime abuse deficient services think yes t...
3  1223435576113631232  air india special flight evacuate indian citiz...
4  1223435576570826755  rahul sir coronavirus developed rss laboratory...

In [ ]:
dff.to_csv('cleaned_tweets.csv',index=False)

In [ ]:
#saving cleaned dataset to Google Drive
import shutil
shutil.move('cleaned_tweets.csv','/content/drive/My Drive/IBM_sentiment_analysis/Data/cleaned_tweets.csv')

'/content/drive/My Drive/IBM_sentiment_analysis/Data/cleaned_tweets.csv'